:root {
    --bg: #16161e;
    --currentline: #1a1b26;
    --fg: #c0caf5;
    --red: #f7768e;
    --yellow: #e0af68;
    --green: #9ece6a;
    --blue: #7aa2f7;
    --magenta: #bb9af7;
    --cyan: #7dcfff;
    --font: monospace;

    --tridactyl-fg: var(--fg) !important;
    --tridactyl-bg: var(--bg) !important;
    --tridactyl-url-fg: var(--yellow) !important;
    --tridactyl-url-bg: var(--bg) !important;
    --tridactyl-highlight-box-bg: var(--currentline) !important;
    --tridactyl-highlight-box-fg: var(--fg) !important;
    --tridactyl-of-fg: var(--fg) !important;
    --tridactyl-of-bg: var(--currentline) !important;
    --tridactyl-cmdl-fg: var(--bg) !important;
    --tridactyl-cmdl-font-family: var(--font) !important;
    --tridactyl-cmplt-font-family: var(--font) !important;
    --tridactyl-hintspan-font-family: var(--font) !important;

    /* Hint character tags */
    --tridactyl-hintspan-fg: var(--bg) !important;
    --tridactyl-hintspan-bg: var(--yellow) !important;

    /* Element Highlights */
    --tridactyl-hint-active-fg: none !important;
    --tridactyl-hint-active-bg: none !important;
    --tridactyl-hint-active-outline: none !important;
    --tridactyl-hint-bg: none !important;
    --tridactyl-hint-outline: none !important;
}

#command-line-holder {
    order: 1 !important;
    border: 2px solid var(--magenta) !important;
    background: var(--tridactyl-bg) !important;
}

#tridactyl-input {
    color: var(--tridactyl-fg) !important;
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    background: var(--tridactyl-bg) !important;
    padding: 1rem !important;
    padding-left: 0.5rem !important;
}

#completions table {
    font-size: 0.8rem !important;
    font-weight: 200 !important;
    border-spacing: 0 !important;
    table-layout: fixed !important;
    padding: 1rem 0 !important;
    /* padding-top: 1rem !important; */
    /* padding-bottom: 1rem !important; */
}

#completions > div {
    max-height: calc(20 * var(--option-height)) !important;
    min-height: calc(10 * var(--option-height)) !important;
}

/* COMPLETIONS */

#completions {
    --option-height: 1.4em !important;
    color: var(--tridactyl-fg) !important;
    background: var(--tridactyl-bg) !important;
    display: inline-block !important;
    font-size: unset !important;
    font-weight: 200 !important;
    overflow: hidden !important;
    width: 100% !important;
    border-top: unset !important;
    order: 2 !important;
}

/* Olie doesn't know how CSS inheritance works */
#completions .HistoryCompletionSource {
    max-height: unset !important;
    min-height: unset !important;
}

#completions .HistoryCompletionSource table {
    width: 100% !important;
    font-size: 9pt !important;
    border-spacing: 0 !important;
    table-layout: fixed !important;
}

/* redundancy 2: redundancy 2: more redundancy */
#completions .BmarkCompletionSource {
    max-height: unset !important;
    min-height: unset !important;
}

#completions table tr td.prefix,#completions table tr td.privatewindow,#completions table tr td.container,#completions table tr td.icon {
    display: none !important;
}

#completions .BufferCompletionSource table {
    width: unset !important;
    font-size: unset !important;
    border-spacing: unset !important;
    table-layout: unset !important;
}

#completions table tr .title, #completions table tr td.excmd {
    width: 50% !important;
    padding-left: 1rem !important;
    color: var(--blue) !important;
}

#completions table tr .content, #completions table tr td.documentation {
  padding-right: 1rem !important;
}

#completions table tr {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

#completions table tr td {
  padding: .5rem 0 !important;
}

#completions .sectionHeader {
    background: unset !important;
    font-weight: bold !important;
    border-bottom: unset !important;
    padding: 1rem 1rem 0 !important;
    padding-bottom: 0.2rem !important;
    color: var(--red) !important;
}

#cmdline_iframe {
    position: fixed !important;
    bottom: unset !important;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px !important;
}

.TridactylStatusIndicator {
    position: fixed !important;
    bottom: 0 !important;
    background: var(--tridactyl-bg) !important;
    border: unset !important;
    border: 1px var(--purple) solid !important;
    font-size: 12pt !important;
    /*font-weight: 200 !important;*/
    padding: 0.8ex !important;
}

#completions .focused {
    background: var(--currentline) !important;
    /* color: var(--blue); */
    font-weight: bold !important;
}
#completions .focused td.title {
  color: var(--red) !important;
}

#completions .focused .url {
  color: var(--green) !important;
    background: var(--currentline) !important;
}
