/* Removes the annoying rainbow thing from the hamburger  */
#appMenu-fxa-separator{border-image:none !important;}

/* Removes X buttons and spaces */
.titlebar-buttonbox-container { display: none !important; }
.titlebar-spacer[type="pre-tabs"], .titlebar-spacer[type="post-tabs"]{display: none !important}
#tabbrowser-tabs{border-inline-start-width: 0!important}

/* ????Removes annoying buttons and spaces */
#pageActionButton { display: none !important; }

/* Removes shield buttons in the URL Bar */
#tracking-protection-icon-container { display: none !important; }

/* Only hides permission items */
#identity-permission-box { display: none !important; }

/* Hides encryption AND permission items */
/* #identity-box { display: none !important }
*/

/* Remove Container Tab labels inside the URL bar */
#userContext-icons { display: none !important; }

/* Remove »Go«-arrow in the URL Bar */
#urlbar-go-button { display: none !important; }

/* Hides the list-all-tabs button*/
#alltabs-button { display: none !important; }

/* Hides the Extensions Menu Icon */
/*
#unified-extensions-button { display: none !important; }
*/

/* Remove the Bookmark This Page (Star) button entirely */
#star-button-box {
  display: none !important;
}

/* Hide the Side View button */
#pageAction-urlbar-side-view_mozilla_org {
    display: none !important;
}

/* Makes some buttons nicer  */
#PanelUI-menu-button, #unified-extensions-button, #reload-button, #stop-button {padding: 2px !important}
#reload-button, #stop-button{margin: 1px !important;}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/privatemode_indicator_as_menu_button.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Removes the private-browsing-mode indicator from tabs toolbar and changes the menu-button icon to the private-browsing indicator in private windows */

#private-browsing-indicator-with-label,
.private-browsing-indicator{ display: none }
:root[privatebrowsingmode="temporary"] #PanelUI-menu-button{
  list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
}
