@media not (-moz-bool-pref: "userchrome.custom-compact-alt") {
  /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_extensions_panel.css made available under Mozilla Public License v. 2.0
  See the above repository for updates as well as full license text. */

  /* This style hides some information from the extensions-button panel, but makes it appear more compact. Might be useful for someone having lot of extensions */

  #unified-extensions-view{
    --uei-icon-size: 16px;
  }
  .unified-extensions-item-menu-button.subviewbutton{
    padding: 0px !important;
    margin-inline-end: 0 !important;
  }
  .unified-extensions-item-action-button.subviewbutton{
    padding-block: 6px !important;
  }
  .unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon{
    padding: 4px !important;
  }
  .unified-extensions-item-message-deck{
    display: none
  }
  #unified-extensions-view > vbox > vbox > .unified-extensions-item{
    padding-block: 0px !important;
  }
  #unified-extensions-panel .unified-extensions-item{
    margin-block: 0 !important;
  }
  #nav-bar-customization-target > .unified-extensions-item {
    filter: saturate(0%) brightness(120%) !important;
  }

  /* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_urlbar_megabar.css made available under Mozilla Public License v. 2.0
  See the above repository for updates as well as full license text. */

  /* Make urlbar appear more compact */
  #urlbar[breakout]{
    margin-inline-start: 0px !important;
    width: 100% !important;
    left: 0 !important;
    top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2 ) !important;
  }
  #urlbar[breakout]:not([open]){
    bottom: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
  }
  .urlbarView{
    margin-inline: 0 !important;
    width: auto !important;
  }
  .urlbarView-row{
    padding: 0 2px !important;
  }
  .urlbarView-row-inner{
    padding-inline-start: 4px !important;
  }
  #urlbar-background{
    animation: none !important;
  }
  .urlbar-input-container{
    padding: 0px 1px !important;
    height: initial !important; 
  }
  #identity-icon{
    margin-block: var(--urlbar-icon-padding);
  }
  .urlbarView > .search-one-offs:not([hidden]){
    padding-block: 0px !important;
  }
}
